[submodule ".registry"]
	path = .registry
	url = https://github.com/ecologyr/ecologyr.r-universe.dev
	branch = HEAD
[submodule "BlueCarbon"]
	path = BlueCarbon
	url = https://github.com/EcologyR/BlueCarbon
[submodule "RecruitNetP"]
	path = RecruitNetP
	url = https://github.com/EcologyR/RecruitNetP
[submodule "labeleR"]
	path = labeleR
	url = https://github.com/EcologyR/labeleR
[submodule "mappestRisk"]
	path = mappestRisk
	url = https://github.com/EcologyR/mappestRisk
